<div class="all">
  <div class="container bgc d-flex justify-content-between p-3">
    <h4>Planning</h4>
    <div class="d-flex align-items-center">
      <button
        class="mx-3 button button-fill color-orange switchCalendarViewBtn"
        data-view="list"
        style="width: 115px; background: white"
      >
        <strong style="color: #ff9800">Liste</strong>
      </button>
      <a class="link icon-only closePlanning" href="#" style="width: 70px">
        <span class="material-icons" style="color: #fff">close</span>
      </a>
    </div>
  </div>

  <div class="container bgc-content">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th class="text-center" mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>

    <div>
      <h3>Click Log</h3>
    </div>

    <div *ngIf="!clickedRows.size">Clicked rows will be logged here</div>

    <ul>
      <li *ngFor="let clickedRow of clickedRows">
        Clicked on {{ clickedRow.name }}
      </li>
    </ul>
  </div>
</div>
