<div class="container page">
  <div class="row d-flex justify-content-evenly mt-5">
    <div class="col-md-7">
      <div class="row page__content-data">
        <div class="dash-left col-md-6 col-sm-12">
          <p><strong>Bonjour</strong></p>
          <p
            class="userProfileName"
            style="font-size: 18px; font-weight: 400; color: black"
          >
            sahar khaled
          </p>
        </div>
        <div class="dash-left col-md-6 col-sm-12">
          <div class="messages d-flex">
            <span class="material-icons">chat_bubble_outline</span>
            <div class="message-counter">
              <strong class="nmCountAll" style="font-size: 42px">0</strong>
              <span style="font-size: 18px; font-weight: 400; opacity: 0.7">
                Messages
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-end">
        <div class="col course text-center mx-2">
          <h3>Course</h3>
        </div>
        <div class="col essai text-center">
          <h3>Essai</h3>
        </div>
      </div>
      <div class="container shadow outer">
        <div class="row shadow mt-4">
          <div class="bgc d-flex justify-content-start">
            <div class="col-md-1">
              <span class="material-icons">video_camera_front</span>
            </div>
            <div class="item-inner col-md-8">
              <div class="item-title">
                <div class="item-header">eleve test</div>
                Comptabilité
                <div class="item-footer">
                  24/02/2022 à <strong>10:30</strong>
                </div>
              </div>
            </div>
            <div class="item-after col-md-2">Démarrer</div>
            <span class="material-icons chevron_right">chevron_right</span>
          </div>
        </div>
        <div class="row shadow mt-4">
          <div class="bgc d-flex justify-content-start">
            <div class="col-md-1">
              <span class="material-icons">video_camera_front</span>
            </div>
            <div class="item-inner col-md-8">
              <div class="item-title">
                <div class="item-header">eleve test</div>
                Comptabilité
                <div class="item-footer">
                  24/02/2022 à <strong>10:30</strong>
                </div>
              </div>
            </div>
            <div class="item-after col-md-2">Démarrer</div>
            <span class="material-icons chevron_right">chevron_right</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 shadow profile p-3">
      <div class="profile-details">
        <h6 class="text-center mt-1">Mon Profil</h6>
        <div class="settingAvatarIcon"></div>
        <h4 class="text-center mt-3">Sahar Khaled</h4>
        <p class="userProfilePhone">
          <span>+212000000007</span>&nbsp;
          <span class="material-icons">phone</span>
        </p>
      </div>
      <div class="profile-text">
        <span>Email :</span><br />
        <p class="userProfileMail">sahar.khaled@smartprof.fr</p>
        <span>Adresse :</span><br />
        <p class="userProfileAdrs">Avenue Mohamed V, belvédère</p>
        <span>Ville :</span><br />
        <p class="userProfileCity">Casablanca</p>
        <span>Matière :</span><br />
        <p class="userProfileCours">Comptabilité - Physique-Chimie</p>
      </div>
    </div>
  </div>
</div>
